body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    }

div {
    margin: 30px;
}

h1, h2, h3 {
color:blue;
margin-left: 30px;
}

ul {
list-style-image: url("images/helicopter-icon.gif");
display: flex;
flex-flow: row wrap;
}

.helicopter-ul {
display: block;
}

a:link, a:visited {
text-decoration:none;
color:blue;
font-weight:bold;
}

a:hover {
color:black;
}

nav ul {
list-style-type:none;
padding:0;
display: flex;
}

nav li {
display:inline-block;
flex: auto;
}

nav a:link, nav a:visited {
background-color:blue;
color:white;
display:block;
text-align:center;
padding: 10px 0;
min-width: 150px;
}

nav a:hover {
background-color:black;
}

aside {
width:280px;
float:right;
background-color: lightblue;
text-align:center;
font-weight:bold;
padding:20px;
margin-left:20px;
}

.photo-left {
float:left;
margin-right:20px;
}

.photo-right {
float:right;
margin-left:20px;
}

header {
background-image: url("images/background.jpg");
}

header h1 {
color:rgba(256,256,256,.8);
margin-left:30px;
margin-top:30px;
font-size:50px;
}

footer {
margin: 200px 0;
}

footer nav a:link, footer nav a:visited {
color:gray;
text-decoration:none;
display: block;
text-align:center;
background-color:white;
}

footer nav a:hover {
color:black;
}

td, th {
border:1px solid black;
width:20%;
text-align:center;
padding:5px;
}

table {
border-collapse:collapse;
}  

@media all and (max-width: 500px) {
    div {
         display: block;
     }
    }